prettytable==3.12.0
phi==0.6.7
phidata==2.7.5
python-dotenv~=1.0.1
groq==0.13.1
yfinance==0.2.51
pandas==2.2.3
duckduckgo_search==7.1.1
newspaper4k==0.9.3.1
sklearn~=0.0
scikit-learn~=1.6.0
gym~=0.26.2
numpy~=1.26.4