prettytable==3.12.0
phi==0.6.7
phidata==2.7.5
python-dotenv~=1.0.1
groq==0.13.1
yfinance==0.2.51
pandas==2.2.3
duckduckgo_search==7.1.1
newspaper4k==0.9.3.1
sklearn~=0.0
scikit-learn~=1.6.0
gym~=0.26.2
numpy~=1.26.4
torch~=2.5.1
transformers~=4.47.1
accelerate>=0.26.0
datasets~=3.2.0
langchain~=0.3.13
langchain-community~=0.3.13
sentence-transformers~=3.3.1
spacy~=3.8.3
openai~=1.58.1
requests~=2.32.3
beautifulsoup4~=4.12.3